" ---------------------------------------------------------------------
" custom vimto settings
" ---------------------------------------------------------------------

" uncomment to change the colorscheme
" let g:vimto#theme = 'molokai'

" uncomment to change the number of cols to use for tabs (default is 4)
let g:vimto#tab_size = 2

" uncomment if you want a minimal gui in gvim
let g:vimto#minimal_gui = 1

" uncomment if you want to use arrow keys
" let g:vimto#allow_arrows = 1

" uncomment to stop vimto making any custom keymaps
" let g:vimto#disable_mapping = 1

" uncomment to enable hardmode
" let g:vimto#hardmode = 1

" load vimto
source ~/.vimto/vimtorc

" ---------------------------------------------------------------------
" custom vim settings
" ---------------------------------------------------------------------

" uncomment to change spelllang
set spelllang=en_gb

